{% extends "base.html" %}

{% block title %}Сотрудники{% endblock %}

{% block content %}
<h2 class="mb-3">Список запросов</h2>

<form method="get" class="row g-2 mb-3">
    <div class="col-md-8">
        <input type="text"
               name="q"
               value="{{ query }}"
               class="form-control"
               placeholder="Поиск">
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100" type="submit">
            Поиск
        </button>
    </div>

    <div class="col-md-2">
        <a href="{% url 'employee_create' %}"
           class="btn btn-success w-100">
            + Добавить
        </a>
    </div>
</form>

<table class="table table-hover shadow-sm">
    <thead class="table-dark">
    <tr>
        <th>Дата</th>
        <th>ФИО</th>
        <th>Отдел</th>
        <th>Тема</th>
        <th>Результат</th>
        <th class="text-center"></th>
    </tr>
    </thead>

    <tbody>
    {% for emp in employees %}
    <tr class="table-row"
        onclick="window.location='{% url 'employee_detail' emp.id %}'">

        <td>{{ emp.inf_date|date:"d.m.Y"|default:"—" }}</td>

        <td>
            {{ emp.last_name }} {{ emp.first_name }} {{ emp.middle_name }}
        </td>

        <td>{{ emp.department.name|default:"—" }}</td>
        <td>{{ emp.inf_name|default:"—" }}</td>
        <td>{{ emp.inf_result|default:"—" }}</td>

        <!-- Корзина -->
        <td class="text-center">
            <button
                    class="btn btn-sm btn-outline-danger delete-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{ emp.id }}"
                    onclick="event.stopPropagation();">
                🗑
            </button>
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>

{% for emp in employees %}
<div class="modal fade"
     id="deleteModal{{ emp.id }}"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-danger">
                    Подтверждение удаления
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Вы действительно хотите удалить:
                <strong>
                    {{ emp.last_name }} {{ emp.first_name }}
                </strong>?
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Отмена
                </button>

                <form method="post"
                      action="{% url 'employee_delete' emp.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Удалить
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}